@font-face {
    font-family: 'Roboto regular';
    src: url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Playfair regular';
    src: url("../fonts/playfair-display/PlayfairDisplay-Regular.otf") format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'Playfair bold ';
    src: url("../fonts/playfair-display/PlayfairDisplay-Bold.otf") format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'Playfair bold italic';
    src: url("../fonts/playfair-display/PlayfairDisplay-BoldItalic.otf") format("otf");
    font-display: swap;
}

@font-face {
    font-family: 'Opensans regular';
    src: url("../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff");
    font-display: swap;
}